.DS_Store
Makefile
/build/
src/*.o
src/.dirstamp
src/.deps
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
libyajl.a
missing
stamp-h1
.libs/
config.guess
config.sub
libtool
libyajl.la
ltmain.sh
src/*.lo
