.DS_Store
Makefile
/build/
*.deps/
*.dirstamp
*.libs/
*.o
*.lo
*.la
*.pc
config/
Makefile.in
autom4te.cache/
aclocal.m4
.version
config.*
libtool
src/yajl/yajl_version.h
stamp-h1
configure
json_reformat
json_verify
