Source: yajl
Section: libs
Priority: extra
Maintainer: Like Ma <likemartinma@gmail.com>
Build-Depends: debhelper (>= 7), cmake, doxygen, quilt
Standards-Version: 3.8.3
Homepage: http://lloyd.github.com/yajl/
Vcs-Browser: https://github.com/lloyd/yajl
Vcs-Git: git://github.com/lloyd/yajl

Package: libyajl2
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Yet Another JSON Library
 A small, fast library for parsing JavaScript Object Notation (JSON).  It
 supports incremental parsing from a stream and leaves data representation to
 higher level code.

Package: libyajl-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libyajl2 (= ${binary:Version})
Description: Yet Another JSON Library - development files
 A small, fast library for parsing JavaScript Object Notation (JSON).  It
 supports incremental parsing from a stream and leaves data representation to
 higher level code.
 .
 This package contains the header files and static libraries needed for
 compiling software that uses the yajl library.

Package: libyajl-doc
Architecture: all
Section: doc
Description: Yet Another JSON Library - library documentation
 A small, fast library for parsing JavaScript Object Notation (JSON).  It
 supports incremental parsing from a stream and leaves data representation to
 higher level code.
 .
 This package contains the API documentation.

Package: libyajl2-dbg
Architecture: any
Multi-Arch: same
Section: debug
Depends: libyajl2 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Yet Another JSON Library - debugging symbols
 A small, fast library for parsing JavaScript Object Notation (JSON).  It
 supports incremental parsing from a stream and leaves data representation to
 higher level code.
 .
 This package contains the debugging symbols for libyajl2.

Package: yajl-tools
Architecture: any
Multi-Arch: same
Section: utils
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Yet Another JSON Library - tools
 A small collection of tools that use the yajl library.
 .
 Current tools are:
  json_reformat - beautifies or minimizes format of JSON data
  json_verify - validates JSON data
